html, body 				{ background-image: initial; background-color: black; }
form 					{ width: 322px; margin: auto; }
label, input, textarea, button 		{ width: 322px; display: block; border: none; border-radius: 3px; font-size: 20px; font-family: Raleway; padding: 5px; }
form div 				{ margin: 10px auto; }
textarea 				{ display: block; margin: auto; } 

.btn 					{ color: #ffffff; border: 1px dotted #ffffff; font: 24px Raleway; background-color: black; text-transform: uppercase; border-radius: 3px; padding: 5px; cursor: pointer; margin: 30px auto;}
.btn:hover 				{ background-color: #ffffff; color: black; }
input.btn 				{ color: #4aee7a; border-color: #4aee7a; }
input.btn:hover 			{ background-color: #4aee7a; }
input.delete 				{ color: red; border-color: red; }
input.delete:hover 			{ background-color: red; }

ol 					{ width: 300px; margin: auto; }

.checkbox label input 			{ display: inline; width: initial; }