@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway:100,600|Dancing+Script:400,700|Pacifico|Sacramento);

/* CSS */

html, body 				{ color: #ffffff; font-family: 'Raleway'; font-weight: 100; height: 100vh; margin: 0; background-color: #000; background-image: url(/images/katya.jpg); background-attachment: fixed; background-size: cover; background-position: right; }
h1 					{ text-transform: uppercase; text-align: center; font-family: Montserrat; letter-spacing: 4px; text-shadow: 3px 3px 8px #4c4c4c; }
h2 					{ text-transform: uppercase; text-align: center; font-weight: 100; text-shadow: 3px 3px 8px #4c4c4c; }
h3 					{ text-transform: uppercase; font-family: Montserrat; letter-spacing: 4px; font-size: 15px; }
a 					{ text-decoration: none; color: #ffffff;}
a:hover  				{ color: #901aff; }
hr 					{ margin: 0; box-shadow: 0px 1px 2px #f62c88; border-top: 0; }
p 					{ font-family: Montserrat; max-width: 800px; padding: 20px; margin: auto; letter-spacing: 1px; text-shadow: 1px 1px 3px #593a75; text-align: left; }
p a 					{ color: #f62c88; text-shadow: 1px 1px 5px #f62c88; }

/* CSS for header */

.links 					{ background-image: url(/images/zebra.jpg); background-size: cover; background-repeat: no-repeat; text-align: center; }
.links > a 				{ padding: 0 15px; font-size: 12px; font-family: 'Montserrat', sans-serif; letter-spacing: 4px; text-decoration: none; text-transform: uppercase; text-shadow: 2px 2px 5px #4c4c4c; width: 103px; display: inline-block; position: relative; }
.links > a:nth-of-type(3)		{ margin-bottom: 0px; text-shadow: 3px 3px 8px #4c4c4c; font-size: 82px; font-family: Raleway; width: auto; }
.links > a				{ text-shadow: 2px 2px 8px #fbe500; }
.links > a:nth-of-type(2)		{ text-shadow: 2px 2px 8px #f62c88; }
.links > a:nth-of-type(3)		{ text-shadow: 1px 1px 16px #901aff; }
.links > a:nth-of-type(4)		{ text-shadow: 2px 2px 8px #4aee7a; }
.links > a:nth-of-type(5)		{ text-shadow: 2px 2px 8px #3387f3; }
.links > a:hover 			{ color: #fbe500; text-shadow: 3px 3px 16px #fbe500; }
.links > a:nth-of-type(2):hover 	{ color: #f62c88; text-shadow: 3px 3px 16px #f62c88; }
.links > a:nth-of-type(3):hover 	{ color: #901aff; text-shadow: 2px 2px 16px #901aff; }
.links > a:nth-of-type(4):hover 	{ color: #4aee7a; text-shadow: 3px 3px 16px #4aee7a; }
.links > a:nth-of-type(5):hover 	{ color: #3387f3; text-shadow: 3px 3px 16px #3387f3; }
.links > a.new:after 			{ background-image: url(/images/star.png); background-size: 15px; width: 15px; height: 15px; content: ""; position: absolute; top: -10px; right: 4px; border-radius: 10px; box-shadow: 0 0 2px #989898; }

.admin-menu 				{ text-align: center; padding-left: 0; }
.admin-menu li 				{ display: inline-block; padding: 5px; }

#main 					{ text-align: center; }


@media (max-width: 979px) {
.links > a:nth-of-type(3) 		{ width: calc(100% - 30px); }
}
@media (max-width: 599px) {
div.links 				{ width: auto; }
.links > a 				{ margin-top: 6px; }
.links > a:nth-of-type(3) 		{ font-size: 45px; }
}