div										{ text-align: center; }
.contact							{ margin-bottom: 60px; }

a#email 							{ color: #fbe500; text-shadow: 3px 3px 8px #fbe500; font-size: 25px; letter-spacing: 5px; }
a#email:hover  				{ color: #901aff; text-shadow: 1px 1px 5px #901aff; }

div.social-media a 		{ height: 80px; width: 80px; display: inline-block; background-size: cover; background-position: center; background-repeat: no-repeat; margin: 10px; border-radius: 12px; }
a#fb 									{ background-image: url(/images/fb.png); }
a#yt 									{ background-image: url(/images/yt.png); }

#yt:hover,
#fb:hover 						{ background-size: 110%; }
