article, article h2, article h3		{ display: inline; }

#main a article h2			{ position: relative; }
#main a h2 				{ font-size: 32px; }
#main a article.new h2:after 		{ background-image: url(/images/star.png); background-size: 40px; width: 40px; height: 40px; content:""; position: absolute; top: -20px; right: -30px; border-radius: 20px; }
#main a article.new:hover h2:after 	{ content: "new"; background-image: none; text-transform: none; font-size: 17px; color: #4aee7a; font-family: Montserrat; top: -15px;}

a h2 					{ text-shadow: 1px 1px 5px #fbe500; }
a:hover h2				{ color: #fbe500; }
a .date 				{ text-shadow: 3px 3px 8px #3387f3; }
a:hover .date 				{ color: #3387f3; }
a .city 				{ text-shadow: 3px 3px 8px #f62c88; }
a:hover .city 				{ color: #f62c88; }

.bullet 				{ color: #ffffff; }

/*
centre the bullet points >
.city 					{ width: calc(50% - 23px); text-align: left; display: inline-block; }
.date 					{ width: calc(50% - 23px); text-align: right; display: inline-block; }
*/

#invitation h2 				{ text-shadow: 3px 3px 8px #f62c88; margin: 10px; } 					
#invitation h3 				{ text-shadow: 3px 3px 8px #3387f3; margin: 10px; }

#invitation p 				{ text-align: left; }

a.ticket-button 			{ display: block; text-transform: uppercase; font-family: Montserrat; padding-top: 20px; height: 80px; width: 100px; background: #f62c88; border-radius: 50px; margin: auto; box-shadow: 0px 0px 35px #f62c88; }
a.ticket-button:hover 			{ /*background-image: url(/images/zebra.jpg);*/ background: #4aee7a; color: #f62c88; box-shadow: 0px 0px 35px #4aee7a; }

#map 					{ width: 100%; max-width: 800px; margin: auto; height: 400px; /*border-radius: 100px;*/ }
div#content 				{ width: 240px; height: 170px; background-size: cover; background-position: center; padding: 10px; }
#content a.map-button 			{ color: #ffffff; background: #901aff; border: 1px dotted #ffffff; box-shadow: 0px 0px 13px #ffffff; font-size: 14px; font-weight: normal; letter-spacing: 1px; padding: 5px; }
#content a.map-button:hover 		{ color: #901aff; background: #ffffff; border: 1px dotted #901aff; box-shadow: 0px 0px 13px #901aff; }
/*#content a.map-button:hover 		{ color: #901aff; background: #ffffff; border: 1px dotted #901aff; box-shadow: 0px 0px 13px #901aff; }*/