.collection 				{ max-width: 980px; margin: auto; display: flex; flex-wrap: wrap; justify-content: space-around; }

.record 				{ font-family: Montserrat; text-align: center; background-image: url(/images/record.png); display: inline-block; width: 150px; height: 150px; background-size: cover; background-repeat: no-repeat; background-position: center; border-radius: 80px; padding: 5px; margin: 40px; position: relative; }
.record h2 				{ margin-top: 45px; }

.record:nth-of-type(5n) 		{ box-shadow: 0px 0px 30px #fbe500; }
.record:nth-of-type(5n-1) 		{ box-shadow: 0px 0px 30px #4aee7a; }
.record:nth-of-type(5n-2) 		{ box-shadow: 0px 0px 30px #f62c88; }
.record:nth-of-type(5n-3) 		{ box-shadow: 0px 0px 30px #901aff; }
.record:nth-of-type(5n-4) 		{ box-shadow: 0px 0px 30px #3387f3; }
.record:nth-of-type(5n):hover 		{ box-shadow: 2px 2px 60px #fbe500; color: #fbe500; }
.record:nth-of-type(5n-1):hover 	{ box-shadow: 2px 2px 60px #4aee7a; color: #4aee7a; }
.record:nth-of-type(5n-2):hover 	{ box-shadow: 2px 2px 60px #f62c88; color: #f62c88; }
.record:nth-of-type(5n-3):hover 	{ box-shadow: 2px 2px 60px #901aff; color: #901aff; }
.record:nth-of-type(5n-4):hover 	{ box-shadow: 2px 2px 60px #3387f3; color: #3387f3; }
/* new uploads are starred */
.record h2.new:after 			{ background-image: url(/images/star.png); background-size: 40px; width: 40px; height: 40px; content:""; position: absolute; top: 0; right: 0; border-radius: 20px; }
.record:hover h2.new:after 		{ content: "new"; background-image: none; text-transform: none; font-size: 17px; color: #4aee7a; font-family: Montserrat; top: 7px; }

iframe 					{ width: 100vw; height: calc(100vh - 188px); }

